.component-holder {
    height: 100vh;
    margin-top: 60px;
}




.table-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.table-title {
    display: grid;
    place-items: center;

}

.table-header li {
    text-decoration: none;
    list-style: none;

}


.table-container {
    display: grid;
    place-items: center;
}

.data-name {
    color: rgb(255, 0, 0) !important;
}

.emp-table {
    width: 80% !important;
}

.create-btn-sec {
    align-items: center;
    display: flex;
}

.create-btn-sec div {
    width: 80px;
    height: 30px;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.form {
    display: grid;
    width: 300px;
}